<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.exhibition.mapper.DealDataMapper">


    <!--  查询站点-设备号-交易类型  -->
    <select id="selectStationEqu" resultType="com.seven.exhibition.model.StationEqu">
        select station,equ_no,deal_type from deal_data order by station
    </select>

</mapper>